@font-face {
  font-family: 'source-han-sans-cn';
  src: url('../fonts/SourceHanSansCN-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'source-han-sans-cn','Hack', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    system-ui, sans-serif;
}


html,
body,
#app {
  margin: 0;
  padding: 0;
}

.k-note-message.el-message {
  background-color: #f4f4f5; /* 浅灰背景 */
  border-color: #d4d4d8;     /* 灰色边框 */
  color: #444;               /* 深一点的文字 */
  box-shadow: none;          /* 去掉阴影，更扁平 */
}

.k-note-message .el-message__icon {
  color: #909399;
}
